* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: white;
    color: black;
    /* display: flex;
    justify-content: center; */
}

/*  Header */

.header {
    margin: 0;
    padding: 0;
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
}

/* Nav bar */

.nav-bar {
    margin: 0;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.nav-bar .logo {
    font-weight: 800;
}

.nav-bar ul {
    padding: 0 15px;
    display: flex;
    gap: 15px;
}

/* Hero text section */

.hero-text {
    display: flex;
    justify-content: space-between;
    padding: 50px 75px;
    max-height: 500px;
    gap: 30px;
}

.hero-text .left {
    max-height: 500px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 5px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.header img {
    max-width: 450px;
    height: auto;
    border-radius: 10px;
}

/* Middle section */

.middle {
    background-color: white;
    color: black;
    margin: 30px 20px;
}

.middle h1 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.middle .container {
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: center;
}

.middle .item {
    margin: 20px;
    max-height: 300px;
    max-width: 200px;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    gap: 5px;
}

.item:nth-of-type(2) {
    order: 2;
}

.item:nth-of-type(3) {
    order: 1;
}

.item img {
    height: 200px;
    width: 200px;
    border-radius: 15px;
    border: 10px solid rgb(65, 176, 212);
}

/*  Quote section */

.end {
    background-color: slategrey;
    color: black;
    margin: 0;
    padding: 100px;
}

.end .quote {
    font-size: 36px;
    font-weight: 300;
}

.end .attribution {
    font-weight: 600;
    text-align: end;
    padding-top: 20px;
}

/*  Call to action */

.action {
    margin: 50px 150px;
    padding: 50px;
    border-radius: 25px;
    background-color: rgb(65, 176, 212);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action .left {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


/* Footer */

footer {
    height: 50px;
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* General items */

.subtext {
    font-size: 14px;
}

button {
    background-color: aliceblue;
    padding: 10px 15px;
    border-radius: 10px;
    border-color: white;
    text-align: center;
    color: #1F2937;
    font-weight: 700;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}